# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# Sistema
.DS_Store
*.log
*.hprof

# Firma (nunca versionar)
*.jks
*.keystore
